body,div,p,ul,h1,h2{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
@font-face{
    font-family:ziti1;
    src:url("../fonts/李旭科漫画体v1.0.ttf");
}
@font-face{
    font-family:ziti2;
    src:url("../fonts/xindexingcao57.ttf");
}
@font-face{
    font-family:ziti3;
    src:url("../fonts/xingzaozimanyu.ttf");
}
.music{
    display: block;
    width: 0.88rem;
    height: 0.88rem;
    background: url("../img/music.png");
    position: fixed;
    right: 0.2rem;
    top: 0.2rem;
    background-size: 0.88rem 0.88rem;
    z-index: 999;
}
.jiao{
    width: 1.22rem;
    height: 0.92rem;
    position: absolute;
    bottom: 0.5rem;
    left: 2.5rem;
    z-index: 999;
}

.loop{
    animation-iteration-count: infinite;
}
.page{
    background: url("../img/bg.png")no-repeat;
    background-size: 100% 100%;
}
.page1 .pic1{
    display: block;
    width: 6.58rem;
    height: 6.36rem;
    margin: 1rem auto;
}
.page1 .pic2{
    display: block;
    width: 3.24rem;
    height: 6.48rem;
    position: absolute;
    left: 50%;
    top: 1rem;
    margin-left: -1.60rem;
}
.page1 .pic3{
    display: block;
    width: 3.92rem;
    height: 1.5rem;
    margin: 0 auto;
}
.page1 p{
    text-align: center;
    color: #88d0bc;
    padding-top: 0.3rem;
}

.page2 .pic1{
    display: block;
    width:2.45rem;
    height: 2.44rem;
    position: absolute;
    left: 0.2rem;
    top: 0;
}
.page2 .pic2{
    display: block;
    width: 3.45rem;
    height: 2.18rem;
    position: absolute;
    right: 0.2rem;
    bottom: 0;
}
.page2 .txt{
    width: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 1.5rem;
    font-family:ziti1;
    color: #282828;
    position: absolute;
    right: 1rem;
    bottom: 3rem;

}
.page2 .tu{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    right: 0.6rem;
    top: 0.8rem;
}
.page2 .pic3{
    width: 3rem;
    height: 4rem;
}
.page2 .pic4{
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    right: 0;
    top: 0;
}
.page2 ul{
    position: absolute;
    left: 0;
    bottom: 2rem;
}
.page2 li{
    font-size: 0.6rem;
    font-family: ziti1;
    color:#000000;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}

.page3 h1{
    background: url("../img/min3.png")no-repeat center;
    background-size: 5.5rem 3rem;
    font-size: 0.6rem;
    height: 3rem;
    text-align: center;
    padding-top: 1.8rem;

}
.page3 li{
    font-size: 0.58rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.page3 .pic1{
    width: 6.09rem;
    height: 3.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page4 .pic1{
    display: block;
    width: 5rem;
    height:4rem;
    position: absolute;
    right: 0.3rem;
    top: 0.45rem;
    z-index: 999;
}
.page4 .tu1{
    display: block;
    width: 5.5rem;
    height: 4.5rem;
    position: absolute;
    right: 0rem;
    top: 0.2rem;
}
.page4 .pic2{
    display: block;
    width: 3rem;
    height:2rem;
    position: absolute;
    top: 5.45rem;
    left: 0.25rem;
    z-index: 999;
}
.page4 .tu2{
    display: block;
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0rem;
    top: 5.2rem;
}
.page4 .pic3{
    display: block;
    width: 3rem;
    height:2rem;
    position: absolute;
    right: 0.25rem;
    top: 5.45rem;
    z-index: 99;
}
.page4 .tu3{
    display: block;
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    right: 0rem;
    top: 5.2rem;
}
.page4 .pic4{
    width: 3rem;
    height: 4rem;
    position: absolute;
    bottom: 0.3rem;
    left: 1.2rem;
    z-index: 999;
}
.page4 .tu4{
    width: 3.5rem;
    height: 4.5rem;
    position: absolute;
    left: 1rem;
    bottom: 0.1rem;
}
.page4 .p1{
    font-size: 0.8rem;
    font-family:ziti1;
    position: absolute;
    right: 0.5rem;
    bottom:3rem;
}
.page4 .p2{
    font-size: 0.8rem;
    font-family:ziti1;
    position: absolute;
    right: 0.5rem;
    bottom:2rem;
}
.page4 .p3{
    font-size: 0.8rem;
    font-family:ziti1;
    position: absolute;
    right: 0.5rem;
    bottom:1rem;
}

.page5 h1{
    background: url("../img/min3.png")no-repeat center;
    background-size: 5.5rem 3rem;
    font-size: 0.6rem;
    height: 3rem;
    text-align: center;
    padding-top: 1.8rem;

}
.page5 p{
    font-size: 0.5rem;
    line-height: 0.8rem;
    font-family: ziti1;
    padding: 0 1rem;
}
.page5 .pic1{
    width: 4.68rem;
    height: 4.08rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page6 h1{
    background: url("../img/min3.png")no-repeat center;
    background-size: 5.5rem 3rem;
    font-size: 0.6rem;
    height: 3rem;
    text-align: center;
    padding-top: 1.8rem;
}
.page6 .box{
    background: url("../img/tu2.jpg")no-repeat center;
    background-size: 6rem 7.5rem;
    height: 7.5rem;
}
.page6 .ye{
    text-align: center;
    padding-top: 1rem;
}
.page6 img{
    width:3.7rem;
    height: 5rem;
}
.page6 .swiper-button-next{
    margin-top: 1.5rem;
    margin-right:0.8rem;
}
.page6 .swiper-button-prev{
    margin-top: 1.5rem;
    margin-left: 0.8rem;


}
.page6 p{
    width: 3.7rem;
    height: 0.7rem;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0.3rem;
    left: 1.75rem;
    font-size: 0.5rem;
    text-align: center;
    color: #007aff;
    font-family: ziti1;
}

.page7 .pic1{
    display: block;
    width: 7rem;
    height: 6rem;
    position: absolute;
    top: 3rem;
}
.page7 .txt1{
    font-family: ziti1;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.page7 .txt2{
    font-family: ziti1;
    text-align: center;
    font-size: 0.4rem;
    position: absolute;
    left: 1rem;
    top: 3.5rem;
}
.page7 .txt2 span{
    font-size: 0.8rem;

}
.page7 .txt3{
    font-family: ziti1;
    text-align: center;
    font-size: 0.5rem;
    position: absolute;
    left: 0rem;
    top: 5rem;
}
.page7 .txt4{
    font-family: ziti1;
    font-size: 0.6rem;
    position: absolute;
    left:0.5rem;
    bottom: 2.5rem;
}
.page7 .txt5{
    font-family: ziti1;
    font-size: 0.6rem;
    position: absolute;
    left: 0.5rem;
    bottom: 1.5rem;
}

.page8 .pic1{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.page8 .pic2{
    position: absolute;
    bottom: 1rem;
    left: 0;
}
.page8 .pic3{
    width: 6rem;
    height: 2rem;
    position: absolute;
    right: 0;
    bottom: 3.5rem;
}
.page8 p{
    margin-top: 2rem;
    text-align: center;
    font-family: ziti2;
}